<section class="main-container">
  <h2 translate>Rentals</h2>

  <div class="book-table-container">
    <app-customized-table [data]="data" class="rental-table">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef translate>Name</th>
        <td mat-cell *matCellDef="let rental">{{ rental.bookName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let rental">{{ rental.userName }}</td>
      </ng-container>

      <ng-container matColumnDef="overdueDate">
        <th mat-header-cell *matHeaderCellDef>Data de Emprestimo / Entrega</th>
        <td mat-cell *matCellDef="let rental">
          {{ getDateOnly(rental.createdAt) }} -
          {{ getDateOnly(rental.overdueDate) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="charges">
        <th mat-header-cell *matHeaderCellDef>Multas</th>
        <td mat-cell *matCellDef="let rental">
          {{ bookFinesText(rental) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let rental">
          <button (click)="returnBook(rental)">Devolver</button>
        </td>
      </ng-container>
    </app-customized-table>
  </div>
</section>
