.book-table-container {
  margin: 20px;
}

.book-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
  }

  img {
    //border-radius: 50%;
    //width: 100px;
    //height: 100px;
    max-height: 200px;
  }
}
