.flex-title {
  display: flex;
  justify-content: space-between;
}

button {
  min-width: 10%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  // color: #fff;
  // background-color: #333;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #555;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
    // background-color: #555;
  }
}

.name-form,
.created-at-form,
.property-form {
  margin-right: 8px;
}

.toolbar {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
