.book-table-container {
  margin: 20px;
}

.book-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
  }

  img {
    //border-radius: 50%;
    //width: 100px;
    //height: 100px;
    max-height: 200px;
  }
}

button {
  min-width: 10%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  // color: #fff;
  // background-color: #333;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #555;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
    // background-color: #555;
  }
}

table {
  width: 100%;
  margin-bottom: 8px;
}

[matPrefix] {
  vertical-align: bottom;
  margin-right: 4px;
}

.name-form,
.created-at-form,
.property-form {
  margin-right: 8px;
}

mat-spinner {
  margin-left: 8px;
}

.toolbar {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
